<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.OrderMapper">

	<insert id="orderDone" parameterType="arraylist">
		insert all
		<foreach item="item" index="index" collection="list">
			into ordered (orderId, isbn, userId, amount, recipient,
						recipientPost, recipientAddr1, recipientAddr2, recipientAddr3,
						recipientPhone1, recipientPhone2, recipientPhone3, payment, orderdate)
			values (ordernum(), #{item.isbn}, #{item.userId}, #{item.amount}, #{item.recipient},
					#{item.recipientPost}, #{item.recipientAddr1}, #{item.recipientAddr2}, #{item.recipientAddr3},
					#{item.recipientPhone1}, #{item.recipientPhone2}, #{item.recipientPhone3}, #{item.payment}, sysdate)
		</foreach>
		select *
		from dual
	</insert>
	
</mapper>





