<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.config.ReviewMapper">
	
	<!--  페이징 처리를 위한 selectAll -->
	<select id="selectAll" parameterType="string" resultType="ReviewDTO">
		select  reviewid as "reviewId",
				isbn as "isbn",
				userid as "userId",
				rating as "rating",
				content as "content",
				to_char(reviewdate, 'YY-MM-DD') as "reviewDate"
		from review
		where isbn = #{isbn}
	</select>
	
	<select id="totalRecord" parameterType="string" resultType="int">
		select count(*)
		from review
		where isbn = #{isbn}
	</select>
	
	<insert id="addReview" parameterType="ReviewDTO">
		insert into review (reviewid, userid, rating, content, reviewdate, isbn)
		values (review_seq.nextval, #{userId}, #{rating}, #{content}, to_date(sysdate, 'YYYY-MM-DD HH24:MI:SS'), #{isbn})
	
	</insert>
</mapper>





